<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css//bulma-carousel.min.css">
    <link rel="stylesheet" href="/assets/css/bulma-divider.min.css">
    <link rel="stylesheet" href="/assets/css/bulma-list.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="icon" href="/images/favicon.ico">
</head>