<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
  var index = null;
  var store = null;
  
  function doSearch(query) {
  var searchResultsContainer = document.getElementById("search-results");

  // If the search query is empty, clear the search results and return
  if (!index || !store || !query) {
    searchResultsContainer.innerHTML = '';
    return;
  }

  var results = index.search(query).map(function (result) {
    return store[result.ref];
  });

  searchResultsContainer.innerHTML = '<div id="two" class="columns is-multiline"></div>';
  var spotlightsSection = document.getElementById("two");

  results.forEach(function (result, index) {
    var resultElement = document.createElement("div");
    resultElement.className = "column is-one-third";
    resultElement.innerHTML = `
      <div class="card bm--card-equal-height">
        <div class="card-image">
          <figure class="image is-1by1">
          <a href="${result.uri}" class="link"><img src="${result.coverImage}"></a>
        </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a href="{{ .Permalink }}" class="link"><p class="title is-4">${result.album}</p></a>
              <p class="subtitle is-6">by ${result.artist}</p>
            </div>
          </div>
        </div>
      </div>`;
    spotlightsSection.appendChild(resultElement);
  });
}


  fetch("{{ "index.json" | absURL }}")
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      store = {};
      data.documents.forEach(function (doc) {
        store[doc.uri] = doc;
      });

      index = lunr(function () {
        this.ref("uri");
        this.field("title");
        this.field("artist");
        this.field("album");
        this.field("date");
        this.field("coverImage");
        this.field("artistImage");
        this.field("artistUri");

        data.documents.forEach(function (doc) {
          this.add(doc);
        }, this);
      });

      document.getElementById("search").addEventListener("input", function (event) {
        doSearch(event.target.value);
      });
    });
</script>