 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $paginator := .Paginate (where .Site.RegularPages ".Params.post" "!="
    false) }}
    {{ if .IsHome }}
    {{ if eq $paginator.PageNumber 1 }}
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    {{ else }}
    <title>{{ .Title }} | Page {{ $paginator.PageNumber }}</title>
    <meta name="description"
        content="This is page {{ $paginator.PageNumber }} of our content." />
    {{ end }}
    {{ else }}
    {{ if .Params.seoTitle }}
    <title>{{ .Params.seoTitle }}</title>
    {{ else }}
    <title>{{ .Title }}</title>
    {{ end }}
    <meta name="description" content="{{ .Description }}" />
    {{ end}}
    {{ $paginator := .Paginate (where .Site.RegularPages ".Params.post" "!="
    false) }}
    {{ if .IsHome }}
    {{ if eq $paginator.PageNumber 1 }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
    <link rel="canonical"
        href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}

    {{ partialCached "css.html" . }}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
        rel="stylesheet" />
    <link rel="icon" href="/images/favicon.ico">
    <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>
</head>