<br>

{{ $paginator := .Paginator }}
{{ $adjacent_links := 4 }}
{{ $max_links := (add (mul $adjacent_links 2) 1) }}
{{ $lower_limit := (add $adjacent_links 1) }}
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

{{ if gt $paginator.TotalPages 1 }}
<nav
  class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
  <div class="-mt-px flex w-0 flex-1">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}"
      class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
      {{ else }}
      <a
        class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500">
        {{ end }}
        <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20"
          fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 011.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
            clip-rule="evenodd" />
        </svg>
        Previous
      </a>
    </div>
    <div class="hidden md:-mt-px md:flex">
      <!-- Add "First" Link -->
      {{ if ne $paginator.PageNumber 1 }}
      <a href="{{ $paginator.First.URL }}"
        class="inline-flex items-center border-t-2 border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 px-4 pt-4 text-sm font-medium"
        aria-label="First page">
        {{ else }}
        <a
          class="inline-flex items-center border-t-2 border-transparent text-gray-500 px-4 pt-4 text-sm font-medium"
          aria-disabled="true">
          {{ end }}
          First
        </a>

        <!-- Existing Page Links -->
        {{ range $paginator.Pagers }}
        {{ $.Scratch.Set "page_number_flag" false }}
        {{ if gt $paginator.TotalPages $max_links }}
        {{ if le $paginator.PageNumber $lower_limit }}
        {{ if le .PageNumber $max_links }}
        {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
        {{ else if ge $paginator.PageNumber $upper_limit }}
        {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
        {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
        {{ else }}
        {{ if and (ge .PageNumber (sub $paginator.PageNumber $adjacent_links))
        (le .PageNumber (add $paginator.PageNumber $adjacent_links)) }}
        {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
        {{ end }}
        {{ else }}
        {{ $.Scratch.Set "page_number_flag" true }}
        {{ end }}
        {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <a href="{{ .URL }}"
          class="inline-flex items-center border-t-2 {{ if eq . $paginator }}border-indigo-500 text-indigo-600{{ else }}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{{ end }} px-4 pt-4 text-sm font-medium"
          aria-label="Page {{ .PageNumber }}"
          aria-current="{{ if eq . $paginator }}page{{ end }}">
          {{ .PageNumber }}
        </a>
        {{ end }}
        {{ end }}

        <!-- Add "Last" Link -->
        {{ if ne $paginator.PageNumber $paginator.TotalPages }}
        <a href="{{ $paginator.Last.URL }}"
          class="inline-flex items-center border-t-2 border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 px-4 pt-4 text-sm font-medium"
          aria-label="Last page">
          {{ else }}
          <a
            class="inline-flex items-center border-t-2 border-transparent text-gray-500 px-4 pt-4 text-sm font-medium"
            aria-disabled="true">
            {{ end }}
            Last
          </a>
        </div>
        <div class="-mt-px flex w-0 flex-1 justify-end">
          {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}"
            class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
            {{ else }}
            <a
              class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500">
              {{ end }}
              Next
              <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </nav>
        {{ end }}