{{ define "main" }}


<section class="section">
    <div class="container">
        <h1 class="title is-1">{{ .Title }}</h1>
    </div>
</section>

{{ if .Params.image }}
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            {{ if .Params.image }}
            <div class="column is-half">
                <img src="{{ (path.Join .RelPermalink .Params.image) | absURL }}" alt />
            </div>
            {{ end }}
            <div class="column">
                <p>{{ .Summary }}</p> {{ if ne .Params.apple_music_artist_url "None" }}<br>
                <a href="{{ .Params.apple_music_artist_url }}">
                    <button class="button is-large is-responsive is-link is-rounded">Goto {{ .Title }} on Apple Music</button>
                </a>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}

    <section class="section">
        <div class="container">
            {{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}

            {{ range $index, $page := $paginator.Pages }}
                {{ if modBool $index 2 }}
                <div class="columns is-desktop is-vcentered has-background-dark has-text-light">
                <div class="column">
                    <h1 class="title is-1 has-text-light">{{ $page.Params.album_name }} by {{ $page.Params.artist }}</h1>
                    <a href="{{ $page.RelPermalink }}">
                        <button class="button is-large is-responsive is-primary is-rounded">Goto Album</button>
                    </a>
                </div>
                <div class="column is-two-fifths">
                    <img src="{{ (path.Join $page.RelPermalink $page.Params.cover.image) | absURL }}">
                </div>
            </div>
                {{ else }}
                <div class="columns is-desktop is-vcentered has-background-light has-text-dark">
                <div class="column is-two-fifth">
                    <img src="{{ (path.Join $page.RelPermalink $page.Params.cover.image) | absURL }}">
                </div>
                <div class="column">
                    <h1 class="title is-1">{{ $page.Params.album_name }} by {{ $page.Params.artist }}</h1>
                    <a href="{{ $page.RelPermalink }}">
                        <button class="button is-large is-responsive is-primary is-rounded">Goto Album</button>
                    </a>
                </div>
            </div>
                {{ end }}

            {{ end }}
        </div>
    </section> 

    <section id="five">
        <div class="inner">
            {{- partial "pagination.html" . -}}
        </div>
    </section>
</div>
{{ end }}