{{ define "main" }}

<section id="three" class="spotlights">
    <div class="inner">
        <header class="major">
            <h1>{{ .Title }}</h1>
        </header>
        {{ if .Params.image }}
        <div class="row gtr-200">
            <div class="col-6 col-12-medium">
                <p>{{ .Summary }}</p><br>
                    {{ if ne .Params.apple_music_artist_url "None" }}
                    <ul class="actions">
                        <li><a href="{{ .Params.apple_music_artist_url }}"
                                class="button">Goto {{ .Title }} on Apple Music</a></li>
                    </ul>

                    {{ end }}
            </div>
            <div class="col-6 col-12-medium">
                <span class="image fit"><img src="{{ (path.Join
                        .RelPermalink .Params.image) | absURL }}" alt="" /></span>
            </div>
        </div>
        </div>
    </section>
    {{ end }}

    {{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
    <section id="four" class="spotlights">
        {{ range $index, $page := $paginator.Pages }}
        <section>
            <a href="{{ $page.RelPermalink }}" class="image">
                {{ if partial "modBool" $index }}
                <img src="{{ (path.Join $page.RelPermalink
                    $page.Params.cover.image) | absURL }}" alt=""
                    data-position="center center" />
                {{ else }}
                <img src="{{ (path.Join $page.RelPermalink
                    $page.Params.cover.image) | absURL }}" alt=""
                    data-position="top center" />
                {{ end }}
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>{{ $page.Params.album_name }}</h3>
                    </header>
                    {{ $dateTime := .PublishDate.Format "2006-01-02"
                    }}
                    {{ $dateFormat := .Site.Params.dateFormat |
                    default "Jan 2, 2006" }}
                    <p>Added: {{ .PublishDate.Format $dateFormat }}</p>
                    <ul class="actions">
                        <li><a href="{{ $page.RelPermalink }}"
                                class="button">View album</a></li>
                    </ul>
                </div>
            </div>
        </section>
        {{ end }}
    </section>
    <section id="five">
        <div class="inner">
            <br><center>{{- partial "pagination.html" . -}}</center>
        </div>
    </section>
    {{ end }}