{{ define "main" }}

<!-- random.html -->
<section class="hero has-background-dark is-link has-background">
    <img class="hero-background is-transparent"
      src="https://www.mckendrick.rocks/images/banner.jpg" />
    <div class="hero-body">
      <p><button class="button is-success is-rounded is-large is-fullwidth" id="get-random-album">Grab another album from the shelves</button></p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
        <div class="card">
            <div class="card-image">
              <figure class="image is-1by1">
                <img id="album-image" alt="Album cover" data-position="center center">
              </figure>
            </div>
            <div class="card-content">
                <div class="media-content">
                  <p class="title is-4"><span id="album-album"></span> by <span id="album-artist"></span></p>
                  <p class="subtitle is-6">Date added: <span id="album-date"></span></p>
                </div>
              </div>
                <footer class="card-footer">
                    <a href="#" id="goto-album" class="card-footer-item">Goto Album</a>
                </footer>
            </div>
          </div>
    </div>
</section>

<!-- Main -->

<script>
    const albumsUrl = "/index.json";
    const albumArtistEl = document.getElementById('album-artist');
    const albumAlbumEl = document.getElementById('album-album');
    const albumImageEl = document.getElementById('album-image');
    const albumDateEl = document.getElementById('album-date');
    const getRandomAlbumBtn = document.getElementById('get-random-album');
    const gotoAlbumLink = document.getElementById('goto-album');
    const imageAlbumLink = document.getElementById('image-link-album');
    let albums;

    fetch(albumsUrl)
        .then(response => response.text())
        .then(data => {
            data = data.replace(/&nbsp;/g, ' '); // replace non-breaking space characters with regular spaces
            albums = JSON.parse(data).documents;
            getRandomAlbum();
        })
        .catch(error => console.error(error)); // log any errors to the console

    function getRandomAlbum() {
        const randomIndex = Math.floor(Math.random() * albums.length);
        const randomAlbum = albums[randomIndex];

        albumArtistEl.textContent = randomAlbum.artist;
        albumAlbumEl.textContent = randomAlbum.album;
        albumImageEl.src = randomAlbum.coverImage;
        albumImageEl.alt = randomAlbum.album + ' cover';
        albumDateEl.textContent = randomAlbum.date;
        gotoAlbumLink.href = randomAlbum.uri;
        imageAlbumLink.href = randomAlbum.uri;
    }

    getRandomAlbumBtn.addEventListener('click', getRandomAlbum);
    gotoAlbumLink.addEventListener('click', (event) => {
        event.preventDefault();
        window.location.href = gotoAlbumLink.href;
    });
    imageAlbumLink.addEventListener('click', (event) => {
        event.preventDefault();
        window.location.href = imageAlbumLink.href;
    });
</script>

{{ end }}