{{ define "main" }}
<section class="hero is-medium has-background-dark is-link has-background">
  <img class="hero-background is-transparent" src="{{ .Page.Params.cover.image }}" />
  <div class="hero-body">
    <h1 class="title is-1">
      {{ .Page.Params.album_name }}<br>
    </h1>
    <h1 class="subtitle is-3">
      by {{ .Page.Params.Artist }}
    </h1>
  </div>
</section>

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}
{{- if gt (len $rawContentSections) 1 -}}

<section class="section">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-half">
        {{ index $rawContentSections 0 | .RenderString }}
      </div>
      <div class="divider is-vertical is-right"></div>
      <div class="column">
        <div class="content has-text-centered">
          {{ partial "metadata.html" . }}
          <div class="divider">Tags</div>
          <div class="field is-grouped is-grouped-multiline">
            {{- $artist := .Language.Params.Taxonomies.tag | default "artist"}}{{-
            range ($.GetTerms $artist) }}
            <div class="control">
              <a href="{{ .Permalink }}">
                <div class="tags has-addons">
                  <span class="tag is-dark">Artist</span>
                  <span class="tag is-primary">{{ .LinkTitle }}</span>
                </div>
              </a>
            </div>
            {{- end }}
            {{- $genres := .Language.Params.Taxonomies.tag | default "genres"
            }}{{- range ($.GetTerms $genres) }}
            <div class="control">
              <a href="{{ .Permalink }}">
                <div class="tags has-addons">
                  <span class="tag is-dark">Genre</span>
                  <span class="tag is-info">{{ .LinkTitle }}</span>
                </div>
              </a>
            </div>
            {{- end }}
            {{- $genres := .Language.Params.Taxonomies.tag | default "styles"
            }}{{- range ($.GetTerms $genres) }}
            <div class="control">
              <a href="{{ .Permalink }}">
                <div class="tags has-addons">
                  <span class="tag is-dark">Style</span>
                  <span class="tag is-success">{{ .LinkTitle }}</span>
                </div>
              </a>
            </div>
            {{- end }}
          </div>
          <div class="divider">Tracklisting</div>
          <div class="content has-text-left">
            {{ index $rawContentSections 1 | .RenderString }}
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {{ if gt (len $rawContentSections) 2 -}} <div class="divider">Overview</div>{{ end }}
        {{ index $rawContentSections 2 | .RenderString }}
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
      {{ index $rawContentSections 3 | .RenderString }}
      {{- else -}}
      {{ .Content }}
      {{- end -}}
    </div>
  </div>
</section>

  {{ end }}