{{ define "main" }}
<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>{{ .Page.Params.album_name }}<br>{{ .Page.Params.Artist }}</h1>
        {{ partial "metadata.html" . }}<br>
      </header>
      {{- $sectionDelimiter := "<!-- section break -->" -}}
      {{- $rawContentSections := split .RawContent $sectionDelimiter -}}
      {{- if gt (len $rawContentSections) 1 -}}
      <div class="row gtr-200">
        <div class="col-8 col-12-medium">
          {{ index $rawContentSections 0 | .RenderString }}
        </div>
        <div class="col-4 col-12-medium">
          {{ index $rawContentSections 1 | .RenderString }}
        </div>
        <div class="col-12 col-12-medium">
          {{ index $rawContentSections 2 | .RenderString }}
        </div>
        {{- else -}}
        <div>
          {{ .Content }}
        </div>
        {{- end -}}
        <ul class="icons">
          {{- $artist := .Language.Params.Taxonomies.tag | default "artist"
          }}{{- range ($.GetTerms $artist) }}<li><a href="{{ .Permalink }}"
              class=""><i class="fa-sharp fa-solid fa-music"></i> {{ .LinkTitle }}</a></li>{{- end }}
          {{- $genres := .Language.Params.Taxonomies.tag | default "genres"
          }}{{- range ($.GetTerms $genres) }}<li><i class="fa-solid fa-headphones"></i> <a href="{{ .Permalink }}"
              class=""> {{ .LinkTitle }}</a></li>{{- end
          }}
          {{- $styles := .Language.Params.Taxonomies.tag | default "styles"
          }}{{- range ($.GetTerms $styles) }}<li><a href="{{ .Permalink }}"
              class=""><i class="fa-solid fa-headphones"></i> {{ .LinkTitle }}</a></li>{{- end
          }}
          <li><a href="/random"
              class=""><i class="fa-solid fa-shuffle"></i> Random</a></li>
        </ul>
      </div>
    </div>
    </section>
  </div>
  {{ end }}