{{ define "main" }}
<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>{{ .Title }}</h1>
      </header>
      {{ if eq .Title "Artist" }}
      <nav>
        {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
        {{ range $letters }}
          <a href="#{{ . }}">{{ . }}</a>{{ if not (eq . "Z") }}, {{ end }}
        {{ end }}
      </nav>
    {{ end }}
    
    </div>
  </section>
  <section id="two" class="spotlights">
    <div class="inner">
      {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
      {{- $taxonomy := index .Site.Taxonomies (lower .Title) -}}
      {{- $pages_by_letters := dict -}}
      {{ range $taxonomy.Alphabetical }}
        {{- $term := . -}}
        {{- $title := $term.Page.Title -}}
        {{- $thePrefix := "The " -}}
        {{- if and (strings.HasPrefix (strings.ToUpper $title) (strings.ToUpper $thePrefix)) (ne $title "The The") }}
          {{- $title = trim $title $thePrefix -}}
        {{ end }}
        {{- $first_letter := upper (substr $title 0 1) -}}
        {{- if not (in $letters $first_letter) }}
          {{ $first_letter = "#" }}
        {{ end }}
        {{- $new_list := slice -}}
        {{ with index $pages_by_letters $first_letter }}
          {{- $new_list = . | append $term -}}
        {{ else }}
          {{- $new_list = slice $term -}}
        {{ end }}
        {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
      {{ end }}

      {{ range $letters }}
        {{- $letter := . -}}
        {{- $terms := index $pages_by_letters $letter -}}
        {{ if $terms }}
          <div class="col-6 col-12-small" id="{{ $letter }}">
            <h2>{{ $letter }}</h2>
            <ul>
              {{ range $terms }}
                <li>
                  <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
