{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      {{ .Title }}
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav>
      {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
      {{ range $letters }}
      <a href="#{{ . }}">{{ . }}</a>{{ if not (eq . "Z") }}, {{ end }}
      {{ end }}
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
    {{- $taxonomy := index .Site.Taxonomies (lower .Title) -}}
    {{- $pages_by_letters := dict -}}
    {{ range $taxonomy.Alphabetical }}
    {{- $term := . -}}
    {{- $title := $term.Page.Title -}}
    {{- $thePrefix := "The " -}}
    {{- if and (strings.HasPrefix (strings.ToUpper $title) (strings.ToUpper
    $thePrefix)) (ne $title "The The") }}
    {{- $title = trim $title $thePrefix -}}
    {{ end }}
    {{- $first_letter := upper (substr $title 0 1) -}}
    {{- if not (in $letters $first_letter) }}
    {{ $first_letter = "#" }}
    {{ end }}
    {{- $new_list := slice -}}
    {{ with index $pages_by_letters $first_letter }}
    {{- $new_list = . | append $term -}}
    {{ else }}
    {{- $new_list = slice $term -}}
    {{ end }}
    {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter
    $new_list) -}}
    {{ end }}

    {{ range $letters }}
    {{- $letter := . -}}
    {{- $terms := index $pages_by_letters $letter -}}
    {{ if $terms }}
    <a name="{{ $letter }}"><h2>{{ $letter }}</h2></a>
    <div class="list">
      {{ range $terms }}
      <div class="list-item">
        {{ if .Page.Params.image }}
        <div class="list-item-image">
          <figure class="image is-64x64">

            {{ $image := .Page.Resources.GetMatch (print "**"
            (.Page.Params.image)) }}
            {{ if $image }}
            {{ $resized := $image.Resize "64x64" }}
            <img class="is-rounded" src="{{ $resized.RelPermalink }}">
            {{ else }}
            <img class="is-rounded"
              src="{{ .Page.Permalink }}/{{ .Page.Params.image }}">
            {{ end }}

          </figure>
        </div>
        {{ end }}
        <div class="list-item-content">
          <div class="list-item-title"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ end }}
  </div>
</section>
{{ end }}
