{{ define "main" }}

<section class="bg-dark text-white py-5" style="background-image: url('https://www.mckendrick.rocks/images/banner.jpg'); background-position: center; background-repeat: no-repeat; background-blend-mode: multiply;">
  <div class="container text-center py-5">
      <button id="get-random-album" class="btn btn-outline-light btn-lg">
          <i class="fas fa-random"></i> Grab another album from the shelves
      </button>
  </div>
</section>

<div class="container my-5">
  <div class="row justify-content-center">
      <div class="col-md-6 text-center">
          <img id="album-image" alt="Album cover" class="img-fluid rounded shadow-lg mb-4">
          <h1 class="mb-3"><span id="album-album"></span> by <span id="album-artist"></span></h1>
          <p class="mb-4">Date added: <span id="album-date"></span></p>
          <a href="#" id="goto-album" class="btn btn-success btn-lg w-100 mb-3">
              <i class="fa-solid fa-link"></i> Go to Album
          </a>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
const albumsUrl = "/index.json";
const albumArtistEl = document.getElementById('album-artist');
const albumAlbumEl = document.getElementById('album-album');
const albumImageEl = document.getElementById('album-image');
const albumDateEl = document.getElementById('album-date');
const getRandomAlbumBtn = document.getElementById('get-random-album');
const gotoAlbumLink = document.getElementById('goto-album');
let albums;

fetch(albumsUrl)
  .then(response => response.text())
  .then(data => {
      data = data.replace(/&nbsp;/g, ' ');
      albums = JSON.parse(data).documents;
      getRandomAlbum();
  })
  .catch(error => console.error(error));

function getRandomAlbum() {
  const randomIndex = Math.floor(Math.random() * albums.length);
  const randomAlbum = albums[randomIndex];
  albumArtistEl.textContent = randomAlbum.artist;
  albumAlbumEl.textContent = randomAlbum.album;
  albumImageEl.src = randomAlbum.coverImage;
  albumImageEl.alt = randomAlbum.album + ' cover';
  albumDateEl.textContent = randomAlbum.date;
  gotoAlbumLink.href = randomAlbum.uri;
}

getRandomAlbumBtn.addEventListener('click', getRandomAlbum);
gotoAlbumLink.addEventListener('click', (event) => {
  event.preventDefault();
  window.location.href = gotoAlbumLink.href;
});
</script>

{{ end }}