{{ define "main" }}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <img src="{{ .Page.Params.cover.image }}" alt="{{ .Page.Params.album_name }}" class="img-fluid rounded shadow-lg mb-4 w-100">
      
      <div class="d-flex flex-wrap mb-4">
        {{- $artist := .Language.Params.Taxonomies.tag | default "artist"}}
        {{- range ($.GetTerms $artist) }}
        <div class="d-flex align-items-center p-1">
          <a href="{{ .Permalink }}" class="text-decoration-none">
            <div class="d-flex">
              <span class="bg-primary text-white small px-2 py-1 rounded-start">Artist</span>
              <span class="bg-secondary text-white small px-2 py-1 rounded-end">{{ .LinkTitle }}</span>
            </div>
          </a>
        </div>
        {{- end }}
        
        {{- range .Params.genres }}
        <div class="d-flex align-items-center p-1">
          <a href="/genres/{{ . | urlize }}" class="text-decoration-none">
            <div class="d-flex">
              <span class="bg-primary text-white small px-2 py-1 rounded-start">Genre</span>
              <span class="bg-secondary text-white small px-2 py-1 rounded-end">{{ . }}</span>
            </div>
          </a>
        </div>
        {{- end }}
        
        {{- range .Params.styles }}
        <div class="d-flex align-items-center p-1">
          <a href="/styles/{{ . | urlize }}" class="text-decoration-none">
            <div class="d-flex">
              <span class="bg-primary text-white small px-2 py-1 rounded-start">Style</span>
              <span class="bg-secondary text-white small px-2 py-1 rounded-end">{{ . }}</span>
            </div>
          </a>
        </div>
        {{- end }}
      </div>

      <button onclick="navigator.clipboard.writeText('{{ .Params.release_id }}')" class="btn btn-success btn-block mb-2 w-100">
        <i class="bi bi-clipboard-fill"></i> Copy the Discogs ID for "{{ .Page.Params.album_name }}"
      </button>

      <a href="https://openscrobbler.com/scrobble/album/view/dsid/release-{{ .Params.release_id }}" target="_blank">
        <button class="btn btn-danger btn-block mb-4 w-100">
          <i class="bi bi-file-music-fill"></i> Scrobble "{{ .Page.Params.album_name }}" using Open Scrobbler
        </button>
      </a>

      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}