{{ define "main" }}
<div class="container mt-5">
  <h1 class="text-center mb-5">Record Collection Stats</h1>

  <div class="row mb-5">
    <div class="col-md-6 mb-4">
      <div class="card h-100 bg-primary text-white">
        <div class="card-body text-center">
          <h2 class="card-title">Total Albums</h2>
          <p class="display-4" id="total-albums">Loading...</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 bg-success text-white">
        <div class="card-body text-center">
          <h2 class="card-title">Unique Artists</h2>
          <p class="display-4" id="unique-artists">Loading...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Top 5 Artists</h2>
          <canvas id="top-artists-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Albums added by Year</h2>
          <canvas id="albums-by-year-chart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Recent Additions</h2>
          <div id="recent-additions" class="row"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/record-stats.js"></script>
{{ end }}

