{{ define "main" }}

<div class="container my-24 px-6 mx-auto dark:bg-gray-800">
    <h1 class="text-5xl font-bold">{{ .Title }}</h1>
</div>

{{ if .Params.image }}
<div class="container my-24 px-6 mx-auto dark:bg-gray-800">
    <div class="grid md:grid-cols-3 gap-3">
        {{ if .Params.image }}
        <div class="md:col-span-1"><img src="{{ (path.Join .RelPermalink .Params.image) | absURL }}" alt /></div>
        {{ end }}
        <div class="md:col-span-2">
            {{ .Summary }}
            {{ if ne .Params.apple_music_artist_url "None" }}
            <a href="{{ .Params.apple_music_artist_url }}">
                <button class="w-full mt-8 px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-700">Goto {{ .Title }} on Apple Music</button>
            </a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

<div class="container my-24 px-6 mx-auto dark:bg-gray-800">
    <section class="mb-32 text-gray-800">
        <div class="grid lg:grid-cols-3 gap-6">
    {{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
    {{ range $index, $page := $paginator.Pages }}
    <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
        <a href="{{ .Permalink }}">
            <img class="rounded-t-lg"
                src="{{ (path.Join .RelPermalink .Params.cover.image) | absURL }}"
                alt="{{ .Page.Params.Artist }}">
        </a>
        <div class="p-4">
            <h1
                class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                {{ $page.Params.album_name }} by {{ $page.Params.artist }}
            </h1>
            <a href="{{ $page.RelPermalink }}">
                <button class="px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-700">Goto Album</button>
                <button class="button is-large is-responsive is-primary is-rounded"></button>
            </a>
                <div class="flex flex-wrap">
            </div>
        </div>
    </div>
    {{ end }}
    </section>
    {{- partial "pagination.html" . -}}
</div>

{{ end }}
