{{ define "main" }}

<div class="bg-gray-800 py-6">
  <div class="container mx-auto text-center">
    <p class="text-4xl font-bold text-white">
      {{ .Title }}
    </p>
  </div>
</div>

<div class="container mx-auto p-6">
    <nav>
      {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
      {{ range $letters }}
      <a href="#{{ . }}" class="text-gray-800 dark:text-gray-50 hover:text-gray-600">{{ . }}</a>{{ if not (eq . "Z") }}, {{ end }}
      {{ end }}
    </nav>
</div>

<div class="container mx-auto p-6">
    {{- $letters := split "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
    {{- $taxonomy := index .Site.Taxonomies (lower .Title) -}}
    {{- $pages_by_letters := dict -}}
    {{ range $taxonomy.Alphabetical }}
    {{- $term := . -}}
    {{- $title := $term.Page.Title -}}
    {{- $thePrefix := "The " -}}
    {{- if and (strings.HasPrefix (strings.ToUpper $title) (strings.ToUpper
    $thePrefix)) (ne $title "The The") }}
    {{- $title = trim $title $thePrefix -}}
    {{ end }}
    {{- $first_letter := upper (substr $title 0 1) -}}
    {{- if not (in $letters $first_letter) }}
    {{ $first_letter = "#" }}
    {{ end }}
    {{- $new_list := slice -}}
    {{ with index $pages_by_letters $first_letter }}
    {{- $new_list = . | append $term -}}
    {{ else }}
    {{- $new_list = slice $term -}}
    {{ end }}
    {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter
    $new_list) -}}
    {{ end }}

    {{ range $letters }}
    {{- $letter := . -}}
    {{- $terms := index $pages_by_letters $letter -}}
    {{ if $terms }}
    <a name="{{ $letter }}"><h2 class="text-2xl font-bold">{{ $letter }}</h2></a>
    <div class="space-y-4">
      {{ range $terms }}
      <div class="flex items-center">
        {{ if .Page.Params.image }}
        <div class="w-16 h-16 mr-4">

          {{ $image := .Page.Resources.GetMatch (print "**"
            (.Page.Params.image)) }}
          {{ if $image }}
          {{ $resized := $image.Resize "64x64" }}
          <img class="rounded-full" src="{{ $resized.RelPermalink }}">
          {{ else }}
          <img class="rounded-full"
            src="{{ .Page.Permalink }}/{{ .Page.Params.image }}">
          {{ end }}

        </div>
        {{ end }}
        <div class="flex-grow">
          <div class="text-lg font-semibold"><a href="{{ .Page.Permalink }}" class="text-gray-800 dark:text-gray-50 hover:text-gray-600">{{ .Page.Title }}</a> ({{ .Count }})</div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ end }}
</div>
{{ end }}
