<!-- Album List View -->
<div class="db-list" id="listView">
    <div class="db-header">
        <div>ID</div>
        <div>ART</div>
        <div>ALBUM_TITLE</div>
        <div>ARTIST_NAME</div>
        <div>GENRE</div>
        <div>DATE_ADDED</div>
        <div>STATUS</div>
    </div>
    
    {{ range .albums }}
    <div class="db-row" onclick="window.location.href='{{ .Permalink }}'">
        <div class="record-id">#{{ .Params.release_id | default "000000" }}</div>
        <div class="album-cover-mini retro-image" {{ if .Params.cover.image }}style="background-image: url('{{ .RelPermalink }}{{ .Params.cover.image }}');"{{ end }}></div>
        <div class="album-title">{{ .Params.album_name | default .Title }}</div>
        <div class="artist-name">{{ .Params.artist_name }}</div>
        <div><span class="genre-tag">{{ range first 1 .Params.genres }}{{ . | upper }}{{ end }}</span></div>
        <div class="date-added">{{ .Date.Format "2006-01-02" }}</div>
        <div><div class="status-indicator"></div></div>
    </div>
    {{ end }}
</div>