{{ define "main" }}
<section class="bg-dark text-white py-5" style="background-image: url('https://www.russ.fm/images/banner.jpg'); background-blend-mode: multiply; background-position: center; background-repeat: no-repeat;">
  <div class="container text-center py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </span>
          <input type="text" class="form-control" id="search" placeholder="Search...">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" id="search-results">
    <!-- Search results will be dynamically inserted here -->
  </div>
</div>
{{ end }}