<!--
Parameters:
    url - (Required) The URL,for exampe https://music.apple.com/gb/album/signals-remastered/1440765198
    width - (Optional) width
    height - (Optional) height
-->
{{ $embedUrl := replace (.Get "url") "music.apple.com" "embed.music.apple.com" }}
<iframe id="embedPlayer" style="width:{{ default "100%" (.Get "width") }}"
    src="{{ $embedUrl }}?app=music&amp;itsct=music_box_player&amp;itscg=30200&amp;ls=1&amp;theme=auto"
    height="{{ default "450px" (.Get "height") }}" frameborder="2" sandbox="allow-forms
    allow-popups allow-same-origin allow-scripts
    allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media
    *; clipboard-write" style="width: 100%; max-width: 660px; overflow: hidden;
    border-radius: 10px; transform: translateZ(0px); animation: 2s 6
    loading-indicator; background-color: rgb(228, 228, 228);"></iframe>
